In [ ]:
# Part 1: Handle Missing Values & Duplicates

    # Step-by-Step Guidelines:
# 1. Load the Data: First, ensure you have pandas installed and import it.
# 2. Handling Missing Values
#     1. Identify Missing Values:
#     2. Fill Missing Values:
# 3. Handling Duplicates
#     1. Identify Duplicates:
#     2. Remove Duplicates:
# 4. Combined Practice on a New Dataset
#     1. New Sample Data:
#     2. Handling Missing Values:
#     3. Remove Duplicates:

In [ ]:
# Part 2: Apply Standardization & Formatting Rules

#     Step-by-Step Guidelines:
# 1. Standardize Text Data
#     1. Convert All Names to Lowercase:
# 2. Format Numerical Data
#     1. Round Age Column to the Nearest Integer:
# 3. Combined Practice on Another Dataset
#     1. New Sample Data:
#     2. Standardize Product Names:
#     3. Format Prices to Two Decimal Places:

In [1]:
import pandas as pd
import numpy as np

# --- Part 1: Handle Missing Values & Duplicates ---

print("\n--- Part 1: Handle Missing Values & Duplicates ---")

# 1. Load the Data:
print("\n1. Load the Data:")
data_mv_dup = {'ID': [1, 2, 3, 4, 5, 2, 6, np.nan],
               'Name': ['Alice', 'Bob', np.nan, 'Charlie', 'David', 'Bob', 'Eve', 'Alice'],
               'Age': [25, 30, 28, np.nan, 35, 30, 22, 25],
               'City': ['New York', 'London', 'Paris', 'London', 'Tokyo', 'London', 'Paris', np.nan]}
df_mv_dup = pd.DataFrame(data_mv_dup)
print("Original DataFrame with Missing Values and Duplicates:")
print(df_mv_dup)

# 2. Handling Missing Values
print("\n2. Handling Missing Values:")
#     1. Identify Missing Values:
print("\n   1. Identify Missing Values:")
print("Missing values count per column:")
print(df_mv_dup.isnull().sum())
print("\nDataFrame with boolean mask for missing values:")
print(df_mv_dup.isnull())

#     2. Fill Missing Values:
print("\n   2. Fill Missing Values:")
# Filling 'Name' with 'Unknown'
df_mv_dup['Name'].fillna('Unknown', inplace=True)
# Filling 'Age' with the mean
df_mv_dup['Age'].fillna(df_mv_dup['Age'].mean(), inplace=True)
# Filling 'City' with the mode
df_mv_dup['City'].fillna(df_mv_dup['City'].mode()[0], inplace=True)
# Filling 'ID' with a placeholder value (be cautious with ID filling)
df_mv_dup['ID'].fillna(-1, inplace=True)

print("\nDataFrame after filling missing values:")
print(df_mv_dup)

# 3. Handling Duplicates
print("\n3. Handling Duplicates:")
#     1. Identify Duplicates:
print("\n   1. Identify Duplicates:")
duplicates = df_mv_dup.duplicated()
print("Boolean Series indicating duplicate rows:")
print(duplicates)
print("\nNumber of duplicate rows:", duplicates.sum())
print("\nDuplicate rows:")
print(df_mv_dup[duplicates])

#     2. Remove Duplicates:
print("\n   2. Remove Duplicates:")
df_no_duplicates = df_mv_dup.drop_duplicates()
print("\nDataFrame after removing duplicate rows:")
print(df_no_duplicates)

# 4. Combined Practice on a New Dataset
print("\n4. Combined Practice on a New Dataset:")
#     1. New Sample Data:
print("\n   1. New Sample Data:")
new_data = {'Item': ['Apple', np.nan, 'Banana', 'Orange', 'Apple', 'Grape', 'Banana', np.nan],
            'Quantity': [10, 5, np.nan, 8, 10, 12, 5, 7],
            'Price': [1.0, 2.5, 0.8, 1.2, 1.0, 1.5, 0.8, np.nan]}
new_df = pd.DataFrame(new_data)
print("New DataFrame with Missing Values and Potential Duplicates:")
print(new_df)

#     2. Handling Missing Values:
print("\n   2. Handling Missing Values:")
new_df['Item'].fillna('Unknown', inplace=True)
new_df['Quantity'].fillna(new_df['Quantity'].median(), inplace=True)
new_df['Price'].fillna(new_df['Price'].mean(), inplace=True)
print("\nNew DataFrame after filling missing values:")
print(new_df)

#     3. Remove Duplicates:
print("\n   3. Remove Duplicates:")
new_df_no_duplicates = new_df.drop_duplicates()
print("\nNew DataFrame after removing duplicate rows:")
print(new_df_no_duplicates)

# --- Part 2: Apply Standardization & Formatting Rules ---

print("\n\n--- Part 2: Apply Standardization & Formatting Rules ---")

# 1. Standardize Text Data
print("\n1. Standardize Text Data:")
#     1. Convert All Names to Lowercase:
print("\n   1. Convert All Names to Lowercase:")
data_names = {'Name': ['Alice Smith', 'BOB JOHNSON', 'charlie Brown', 'David Lee']}
df_names = pd.DataFrame(data_names)
print("Original Names DataFrame:")
print(df_names)
df_names['Name_Lower'] = df_names['Name'].str.lower()
print("\nNames DataFrame with lowercase names:")
print(df_names)

# 2. Format Numerical Data
print("\n2. Format Numerical Data:")
#     1. Round Age Column to the Nearest Integer:
print("\n   1. Round Age Column to the Nearest Integer:")
data_ages = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25.3, 30.8, 28.1]}
df_ages = pd.DataFrame(data_ages)
print("Original Ages DataFrame:")
print(df_ages)
df_ages['Age_Rounded'] = df_ages['Age'].round().astype(int)
print("\nAges DataFrame with rounded ages (as integers):")
print(df_ages)

# 3. Combined Practice on Another Dataset
print("\n3. Combined Practice on Another Dataset:")
#     1. New Sample Data:
print("\n   1. New Sample Data:")
product_data = {'Product': ['Laptop Pro', 'Smart Watch', 'LAPTOP pro', 'Wireless Mouse', 'smart watch'],
                'Price': [1200.50, 250.75, 1200.50, 30.00, 250.75]}
df_products = pd.DataFrame(product_data)
print("Original Products DataFrame:")
print(df_products)

#     2. Standardize Product Names:
print("\n   2. Standardize Product Names:")
df_products['Product_Standardized'] = df_products['Product'].str.lower().str.strip()
print("\nProducts DataFrame with standardized product names:")
print(df_products)

#     3. Format Prices to Two Decimal Places:
print("\n   3. Format Prices to Two Decimal Places:")
df_products['Price_Formatted'] = df_products['Price'].map('{:.2f}'.format)
print("\nProducts DataFrame with prices formatted to two decimal places (as strings):")
print(df_products)

--- Part 1: Handle Missing Values & Duplicates ---

1. Load the Data:
Original DataFrame with Missing Values and Duplicates:
    ID     Name   Age      City
0  1.0    Alice  25.0  New York
1  2.0      Bob  30.0    London
2  3.0      NaN  28.0     Paris
3  4.0  Charlie   NaN    London
4  5.0    David  35.0     Tokyo
5  2.0      Bob  30.0    London
6  6.0      Eve  22.0     Paris
7  NaN    Alice  25.0       NaN

2. Handling Missing Values:

   1. Identify Missing Values:
Missing values count per column:
ID      1
Name    1
Age     1
City    1
dtype: int64

DataFrame with boolean mask for missing values:
      ID   Name    Age   City
0  False  False  False  False
1  False  False  False  False
2  False   True  False  False
3  False  False   True  False
4  False  False  False  False
5  False  False  False  False
6  False  False  False  False
7   True  False  False   True

   2. Fill Missing Values:

DataFrame after filling missing values:
    ID     Name        Age      City
0  1.0    Alice  25.000000  New York
1  2.0      Bob  30.000000    London
2  3.0  Unknown  28.000000     Paris
3  4.0  Charlie  27.857143    London
4  5.0    David  35.000000     Tokyo
5  2.0      Bob  30.000000    London
6  6.0      Eve  22.000000     Paris
7 -1.0    Alice  25.000000    London

3. Handling Duplicates:

   1. Identify Duplicates:
Boolean Series indicating duplicate rows:
0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

Number of duplicate rows: 1

Duplicate rows:
    ID Name   Age    City
5  2.0  Bob  30.0  London

   2. Remove Duplicates:

DataFrame after removing duplicate rows:
    ID     Name        Age      City
0  1.0    Alice  25.000000  New York
1  2.0      Bob  30.000000    London
2  3.0  Unknown  28.000000     Paris
3  4.0  Charlie  27.857143    London
4  5.0    David  35.000000     Tokyo
6  6.0      Eve  22.000000     Paris
7 -1.0    Alice  25.000000    London

4. Combined Practice on a New Dataset:

   1. New Sample Data:
New DataFrame with Missing Values and Potential Duplicates:
     Item  Quantity  Price
0   Apple      10.0    1.0
1     NaN       5.0    2.5
2  Banana       NaN    0.8
3  Orange       8.0    1.2
4   Apple      10.0    1.0
5   Grape      12.0    1.5
6  Banana       5.0    0.8
7     NaN       7.0    NaN

   2. Handling Missing Values:

New DataFrame after filling missing values:
      Item  Quantity     Price
0    Apple      10.0  1.000000
1  Unknown       5.0  2.500000
2   Banana       8.0  0.800000
3   Orange       8.0  1.200000
4    Apple      10.0  1.000000
5    Grape      12.0  1.500000
6   Banana       5.0  0.800000
7  Unknown       7.0  1.257143

   3. Remove Duplicates:

New DataFrame after removing duplicate rows:
      Item  Quantity     Price
0    Apple      10.0  1.000000
1  Unknown       5.0  2.500000
2   Banana       8.0  0.800000
3   Orange       8.0  1.200000
5    Grape      12.0  1.500000
6   Banana       5.0  0.800000
7  Unknown       7.0  1.257143


--- Part 2: Apply Standardization & Formatting Rules ---

1. Standardize Text Data:

   1. Convert All Names to Lowercase:
Original Names DataFrame:
            Name
0    Alice Smith
1    BOB JOHNSON
2  charlie Brown
3      David Lee

Names DataFrame with lowercase names:
            Name     Name_Lower
0    Alice Smith    alice smith
1    BOB JOHNSON    bob johnson
2  charlie Brown  charlie brown
3      David Lee      david lee

2. Format Numerical Data:

   1. Round Age Column to the Nearest Integer:
Original Ages DataFrame:
      Name   Age
0    Alice  25.3
1      Bob  30.8
2  Charlie  28.1

Ages DataFrame with rounded ages (as integers):
      Name   Age  Age_Rounded
0    Alice  25.3           25
1      Bob  30.8           31
2  Charlie  28.1           28

3. Combined Practice on Another Dataset:

   1. New Sample Data:
Original Products DataFrame:
          Product    Price
0      Laptop Pro  1200.50
1     Smart Watch   250.75
2      LAPTOP pro  1200.50
3  Wireless Mouse    30.00
4     smart watch   250.75

   2. Standardize Product Names:

Products DataFrame with standardized product names:
          Product    Price Product_Standardized
0      Laptop Pro  1200.50           laptop pro
1     Smart Watch   250.75          smart watch
2      LAPTOP pro  1200.50           laptop pro
3  Wireless Mouse    30.00       wireless mouse
4     smart watch   250.75          smart watch

   3. Format Prices to Two Decimal Places:

Products DataFrame with prices formatted to two decimal places (as strings):
          Product    Price Product_Standardized Price_Formatted
0      Laptop Pro  1200.50           laptop pro         1200.50
1     Smart Watch   250.75          smart watch          250.75
2      LAPTOP pro  1200.50           laptop pro         1200.50
3  Wireless Mouse    30.00       wireless mouse           30.00
4     smart watch   250.75          smart watch          250.75